<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="row w-100 justify-content-center">
    <div class="col-12 col-sm-10 col-md-8 col-lg-5 col-xl-4 p-4 shadow rounded bg-white">

      <!-- Ngx-Loader -->
      <ngx-loading [show]="loading" [config]="{
        backdropBackgroundColour: 'rgba(255,255,255,0)',
        backdropBorderRadius: '4px',
        primaryColour: '#009688',
        secondaryColour: '#009688',
        tertiaryColour: '#009688'}">
      </ngx-loading>

      <div class="text-center">
        <img src="../../../assets/images/KLand-img.png" alt="Kland Logo" class="img-flid logo">
      </div>

      <h5 class="text-center mb-4">ENTER YOUR EMAIL TO CONTINUE</h5>

      <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
        <!-- Email -->
        <div class="mb-4 position-relative">
          <input type="email" class="form-control" placeholder="Email" id="email" formControlName="email" (keydown)="Space($event)" [ngClass]="{'is-invalid':loginForm.controls?.['email']?.invalid && loginForm.controls?.['email']?.touched}">
          <small *ngIf="loginForm.controls?.['email']?.errors?.['required']" class="invalid-feedback text-danger position-absolute">
              Email is required.
          </small>
        </div>

        <!-- Password -->
        <div class="mb-4 position-relative">
          <input type="{{hide}}" class="form-control" placeholder="Password" id="password" formControlName="password" (keydown)="Space($event)" [ngClass]="{'is-invalid':loginForm.controls?.['password']?.invalid && loginForm.controls?.['password']?.touched}">
          <small *ngIf="loginForm.controls?.['password']?.errors?.['required']" class="invalid-feedback text-danger position-absolute">
              Password is required.
          </small>

          <i class="fa fa-{{hide == 'password' ? 'eye-slash' : 'eye'}} position-absolute" style="top: 50%; right: 10px; transform: translateY(-50%); cursor: pointer;" (click)="hide == 'password' ? (hide = 'text') : (hide = 'password')"></i>
        </div>

        <!-- Forgot Password -->
        <div class="d-flex justify-content-end mb-3">
          <a routerLink="" class="small">Forgot password?</a>
        </div>

        <button type="submit" class="btn btnLogin w-100">Login</button>
      </form>

      <div class="text-center mt-3">
        <small>Don't have an account? <a routerLink="" class="">Create Account</a></small>
      </div>
    </div>
  </div>
</div>
