<div class="personal-info-section">
    <h5 class="fw-bold">PERSONAL INFORMATION</h5>
    <div class="d-flex my-3">
        <img src="../../assets/images/avatart-img.png" alt="Profile Image" class="rounded-circle me-3" width="60" style="width: 9%;">
        <div class="">
            <h2 class="">Test Test</h2>
            <p class="">test@yopail.com</p>
        </div>
    </div>
    <form action="">
        <div class="row">
            <div class="col-md-6 mb-3">
                <input type="text"class="form-control" placeholder="First Name" value="test">
            </div>

            <div class="col-md-6 mb-3">
                <input type="text"class="form-control" placeholder="Last Name" value="test">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <input type="email" class="form-control" placeholder="Email" value="test@yopmail.com">
            </div>

            <div class="col-md-6 mb-3 d-flex">
                <select name="" id="" class="form-select w-25 me-2">
                    <option value="">965</option>
                </select>

                <input type="text" class="form-control" placeholder="Phone" value="98563214">
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <input type="password" class="form-control" placeholder="Old Password">
            </div>

            <div class="col-md-6 mb-3">
                <input type="password" class="form-control" placeholder="New Password">
            </div>

            <div class="col-md-6 mb-3">
                <input type="password" class="form-control" placeholder="Confirm New Password">
            </div>
        </div>

            <button class="btn btnSave w-100">Save</button>
    </form>
</div>